<div class="backdrop" data-modal-about data-modal-close-about>
    <div class="about-modal">
        <h3 class="primary-title">Learn more about the different types of milk</h3>
        <p class="cow__text">Milk is rich in calcium, and contains more than 10 essential nutrients that promote
            general health.</p>

        <p class="cow__text">Recent scientific investigation has revealed milk also contains other beneficial
            components including whey protein, sphingomyelin and conjugated linoleic acid.</p>

        <p class="cow__text">According to the Australian Dietary Guidelines, these nutrients and beneficial
            components help reduce the risk of heart disease, stroke, hypertension, type 2 diabetes, metabolic syndrome
            and colorectal cancer. These are some of the main causes of death in Australia.</p>
        <button class="hero__btn btn--red close">Close</button>
    </div>

</div>