<div class="backdrop" data-modal-buy-menu data-modal-close-buy-menu>
    <div class="buy-now-modal">
        <h3 class="primary-title">Leave your contacts</h3>
        <form action="" class="input-form">
            <label for="name" class="input">Name
                <input type="text" id="name" placeholder="Joe Doe" required></label>
            <label for="phone" class="input" >Phone
                <input type="text" id="phone" placeholder="+1 (111) 111 11 11"  required></label >

            <label for="list" class="input" name="list_products" >Products<select id="list">
                <option>Ice cream</option>
                <option>Milkshakes</option>
                <option>Ice Coffee</option>
            </select></label>
            <button class="btn--red hero__btn" data-modal-close-buy-menu>Call me!</button>
        </form>
    </div>
</div>