<section class="contacts">
    <div class="container contact">
        <h2 class="contact__hidden">Скрытый заголовок Contacts</h2>
        <ul class="contact__grid">
            <li class="contact__item">
                <div class="contact_list">
                    <p class="contact__text">CAFE</p>
                    <h2 class="contact__title">Chicago</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info--item">
                            <p class="contact__info--item--today"> Monday - Friday</p>
                            <p class="contact__info--item--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info--item">
                            <p class="contact__info--item--today">Saturday - Sunday</p>
                            <p class="contact__info--item--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li class="contact__adress--item">
                            <a class="contact__adress--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact__item">
                <div class="contact_list">
                    <p class="contact__text__green">FOODTRUCK</p>
                    <h2 class="contact__title">Los Angeles</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info--item">
                            <p class="contact__info--item--today"> Monday - Friday</p>
                            <p class="contact__info--item--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info--item">
                            <p class="contact__info--item--today">Saturday - Sunday</p>
                            <p class="contact__info--item--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li class="contact__adress--item">
                            <a class="contact__adress--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="contact__item__last">
                <div class="contact_list">
                    <p class="contact__text">CAFE</p>
                    <h2 class="contact__title">New York</h2>
                    <p class="contact__subtitle">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
                    <ul class="contact__info">
                        <li class="contact__info--item">
                            <p class="contact__info--item--today"> Monday - Friday</p>
                            <p class="contact__info--item--time">06:00 AM - 10:00 PM</p>
                        </li>
                        <li class="contact__info--item">
                            <p class="contact__info--item--today">Saturday - Sunday</p>
                            <p class="contact__info--item--time">08:00 AM - 16:00 PM</p>
                        </li>
                    </ul>
                    <ul class="contact__adress">
                        <li class="">
                            <a class="contact__adress--item" href="tel:+610383766284">+61(0) 383 766 284</a>
                        </li>
                        <li>
                            <a class="contact__adress--item" href="mailto:noreply@envato.com">noreply@envato.com</a>
                        </li>
                    </ul>
                </div>
            </li>            
        </ul>
        <div class="contact__click">
        <button class="contact__btn--red">Our Locations
            <svg class="icon-right-check" width="12" height="10">
                <use href="./images/svg/symbol-defs.svg#icon-right-check"></use>
            </svg>
        </button>
        <button class="contact__btn--white">Franchise
            <svg class="icon-right-check--white" width="12" height="10">
                <use href="./images/svg/symbol-defs.svg#icon-right-check"></use>
            </svg>
        </button>
        </div>
    </div>
</section>