<section class="reviews" id="reviews">
    <div class="container">
<picture>
        <source
          srcset="
            ./images/reviews/nigger_animal_2.png    1x,
            ./images/reviews/nigger_animal_2@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/reviews/nigger_animal_2.png    1x,
            ./images/reviews/nigger_animal_2@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/reviews/nigger_animal_2.png    1x,
            ./images/reviews/nigger_animal_2@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img src="./images/nigger_animal_2.png" alt="улыбающийся клиент" class="reviews__photo">
      </picture>
    
    <div class="reviews__box">
         <div class="reviews--lines">
            <p class="reviews__box--text">
                Nullam viverra consectetuer.
                Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
    </div>
    

    <span class="reviews__box--circle"></span>    
    
    <p class="reviews__box--location">
        Emily, Los Angeles
    </p>
    </div>
    </div>
</section>