<section class="reviews">
    <div class="container">

    <img src="./images/nigger_animal_2.png" alt="улыбающийся клиент" class="reviews__photo">
    <div class="reviews__box">
         <div class="reviews--lines">
            <p class="reviews__box--text">
                Nullam viverra consectetuer.
                Quisque cursus et, porttitor risus.
                Aliquam sem. In hendrerit nulla quam nunc, accumsan
                congue. Lorem ipsum primis in nibh vel risus.
            </p>
        </div>
    </div>
    

    <span class="reviews__box--circle"></span>    
    
    <p class="reviews__box--location">
        Emily, Los Angeles
    </p>
    </div>
    </div>
</section>