<footer class="footer">
    <div class="container">
        
       <div class="footer-tablet">
                <ul class="footer__title">
                    <li class="footer__text">
                        <p class="footer__ice">homemade ice cream made</p>
                        <p class="footer__cream">with passion</p>
                    </li>
                </ul>
                
                <div class="footer__info">
                    <ul class="footer__icon">
                        <li class="footer__icon-item">
                            <a class="footer__page" href=""><svg width="19px" height="19px">
                                    <use href="./images/svg/symbol-defs.svg#icon-github"></use>
                                </svg></a>
                        </li>
                        <li class="footer__icon-item">
                            <a class="footer__page" href=""><svg width="21px" height="15px">
                                    <use href="./images/svg/symbol-defs.svg#icon-telegram"></use>
                                </svg></a>
                        </li>
                        <li class="footer__icon-item">
                            <a class="footer__page" href=""><svg width="19px" height="19px">
                                    <use href="./images/svg/symbol-defs.svg#icon-facebook"></use>
                                </svg></a>
                        </li>
                    </ul>
                    <p class="footer__info-text">Feel free to contact
                        <a class="footer__phone" href="tel:+610383766284">+61 (0) 383 766 284</a>
                    </p>
                </div>
       </div>
       </div>
    <div class="footer__post">
       <div class="container">
            <ul class="footer__script">
                <li class="post-script">
                    <p class="footer__rights">&copy; 2019 - IceCream. All Rights Reserved.</p>
                </li>
            </ul>
       </div>
    </div> 
</footer>
