<section id="gallary" class="gallary">
  <div class="container">
    <ul class="masonry">
      <li class="masonry__items">
        <a href="https://www.instagram.com/p/B7Q3_91jRTc/?utm_source=ig_web_copy_link" class="masonry__items_link">
          <picture>
        <source
          srcset="
            ./images/gallery/icecream1.png    1x,
            ./images/gallery/icecream1@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream1.png    1x,
            ./images/gallery/icecream1@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream1.png    1x,
            ./images/gallery/icecream1@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream1.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture>
          
        </a>
      </li>
      <li class="masonry__items">
        <div class="masonry__items__column">
          <a href="https://www.instagram.com/p/CHntNWSH-Ho/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream2.png    1x,
            ./images/gallery/icecream2@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream2.png    1x,
            ./images/gallery/icecream2@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream2.png    1x,
            ./images/gallery/icecream2@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream2.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture><a href="https://www.instagram.com/p/CEKbFuWnNKH/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream3.png    1x,
            ./images/gallery/icecream3@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream3.png    1x,
            ./images/gallery/icecream3@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream3.png    1x,
            ./images/gallery/icecream3@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream3.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture></a>
        </div>
      </li>
      <li class="masonry__items">
        <div class="masonry__items__column">
          <a href="https://www.instagram.com/vi.talik3162/?hl=ru" class="masonry__items_link big-picture"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream4.png    1x,
            ./images/gallery/icecream4@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream4.png    1x,
            ./images/gallery/icecream4@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream4.png    1x,
            ./images/gallery/icecream4@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream4.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture><a href="https://www.instagram.com/p/CAjAE_DA8L2VU5OtqclrolQgYF3sKZNjhe0SDw0/?hl=ru" class="masonry__items_link small-picture"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream5.png    1x,
            ./images/gallery/icecream5@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream5.png    1x,
            ./images/gallery/icecream5@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream5.png    1x,
            ./images/gallery/icecream5@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream5.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture></a>
        </div>
      </li>
      <li class="masonry__items">
        <div class="masonry__items__column">
          <a href="https://www.instagram.com/p/B99JHTbnQLE/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream6.png    1x,
            ./images/gallery/icecream6@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream6.png    1x,
            ./images/gallery/icecream6@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream6.png    1x,
            ./images/gallery/icecream6@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream6.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture><a href="https://www.instagram.com/p/BN1GAwSBko3/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream7.png    1x,
            ./images/gallery/icecream7@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream7.png    1x,
            ./images/gallery/icecream7@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream7.png    1x,
            ./images/gallery/icecream7@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream7.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture></a>
        </div>
      </li>
      <li class="masonry__items">
        <div class="masonry__items__column">
          <a href="https://www.instagram.com/p/BQ1Bdo1DXnt/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream8.png    1x,
            ./images/gallery/icecream8@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream8.png    1x,
            ./images/gallery/icecream8@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream8.png    1x,
            ./images/gallery/icecream8@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream8.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture><a href="https://www.instagram.com/p/CLj8ET8Dm8i/?utm_source=ig_web_copy_link" class="masonry__items_link"
            > <picture>
        <source
          srcset="
            ./images/gallery/icecream9.png    1x,
            ./images/gallery/icecream9@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream9.png    1x,
            ./images/gallery/icecream9@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream9.png    1x,
            ./images/gallery/icecream9@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream9.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture></a>
        </div>
      </li>
      <li class="masonry__items">
        <a href="https://www.instagram.com/p/CLCKV0-hYYM/?utm_source=ig_web_copy_link" class="masonry__items_link"
          > <picture>
        <source
          srcset="
            ./images/gallery/icecream10.png    1x,
            ./images/gallery/icecream10@2x.png 2x
          "
          media="(min-width: 320px) and (max-width: 767px)"
        />
        <source
          srcset="
            ./images/gallery/icecream10.png    1x,
            ./images/gallery/icecream10@2x.png 2x
          "
          media="(min-width: 768px)and (max-width: 1199px)"
        />
        <source
          srcset="
            ./images/gallery/icecream10.png    1x,
            ./images/gallery/icecream10@2x.png 2x
          "
          media="(min-width: 1200px)"
        />
        <img
              src="./images/gallery/icecream10.png"
              alt=""
              class="masonry__items__picture"
            />
      </picture></a>
      </li>
    </ul>
  </div>
</section>
