<div class="backdrop" data-modal-burger data-modal-close-burger>
  <div class="modal">
    <button class="modal__btn-close" data-modal-close-burger>
      <svg class="icon-close" width="14" height="14">
        <use href="./images/svg/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <button class="modal__btn-buy" data-modal-open-buy-menu>
      Buy now
      <svg class="icon-right-check" width="12" height="10">
        <use href="./images/svg/symbol-defs.svg#icon-right-check"></use>
      </svg>
    </button>
    <ul class="modal__nav">
      <li class="modal__nav__item">
        <a href="#header" class="modal__nav__item__link">Home</a>
      </li>
      <li class="modal__nav__item">
        <a href="#about" class="modal__nav__item__link">About us</a>
      </li>
      <li class="modal__nav__item">
        <a href="#advantages" class="modal__nav__item__link">How it’s made?</a>
      </li>
      <li class="modal__nav__item">
        <a href="#products" class="modal__nav__item__link">Our products</a>
      </li>
      <li class="modal__nav__item">
        <a href="#contacts" class="modal__nav__item__link">Contact</a>
      </li>
    </ul>
  </div>
</div>
