<section id="products" class="products">

    <div class="container">

        <p class="products__text">100% natural</p>
        <h2 class="products__title primary-title ">products</h2>
        <ul class="list">
            <li class="card card__cream">

                <h3 class="card__title">ice cream</h3>
                <span class="card__points"></span>
                <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <button class="btn btn__cream modal-button" product-modal-open>
                    <svg class="btn__icon" width="18" height="18">
                        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="card card__coffee">
                <h3 class="card__title">ice coffee</h3>
                <span class="card__points"></span>
                <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <button class="btn btn__coffee modal-button" product-modal-open>
                    <svg class="btn__icon" width="18" height="18">
                        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
            <li class="card card__milkshakes modal-button" product-modal-open>
                <h3 class="card__title">milkshakes</h3>
                <span class="card__points"></span>
                <p class="card__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                    incididunt ut labore et. dolore magna
                    aliqua facilisis.</p>
                <button class="btn btn__milkshake">
                    <svg class="btn__icon" width="18" height="18">
                        <use href="./images/svg/symbol-defs.svg#icon-arrow-right"></use>
                    </svg>
                </button>
            </li>
        </ul>
    </div>
   
    
</section>