.about {
  width: 100%;
  position: relative;
  background: #fff5f6;
  &__container {
    background-color: $section-background;
    padding-top: 125px;
    padding-bottom: 26px;
    width: 100%;
  }

  &__text {
    margin-bottom: 15px;
    text-align: center;
  }
  &__title {
    text-align: center;
  }
  @media screen and (min-width: 768px) {
    &__container {
      padding-top: 130px;
      padding-bottom: 50px;
      width: 100%;
    }
    &__text.label-title {
      font-size: 26px;
      line-height: 1.15;
      margin-bottom: 16px;
    }
    &__title.primary-title {
      font-size: 48px;
      line-height: 1.15;
    }
  }
}

.cow {
  background-color: $section-background;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: flex-start;
  position: relative;
  &__img {
    width: 280px;
    height: 279px;
    margin-bottom: 46px;
  }
  &__pre {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 45px;
  }
  &__title {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: black;
    text-align: left;
    height: 100%;
    width: 220px;
    padding-bottom: 30px;
  }
  &__text {
    font-family: DM Sans, sans-serif;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.62;
    color: $description-color;
    text-align: left;
    height: 100%;
    width: 12px;
    padding-bottom: 20px;
    margin: 0;
    height: 100%;
    width: 220px;
    padding-bottom: 10px;
    &__secondary {
      font-family: DM Sans, sans-serif;
      font-weight: 500;
      font-size: 12px;
      line-height: 1.62;
      color: $description-color;
      text-align: left;
      height: 100%;
      width: 220px;
      padding-bottom: 20px;
    }
  }
  @media screen and (min-width: 768px) {
    flex-direction: row;
    &__img {
      width: 340px;
      height: 339px;
      margin-bottom: 0;
    }
    &__pre {
      margin-left: 17px;
      margin-bottom: 66px;
      margin-top: 50px;
    }
    &__title {
      width: 340px;
      height: 100%;
      font-size: 14px;
      line-height: 1.76;
    }
    &__text {
      width: 340px;
      height: 100%;
      font-size: 14px;
      line-height: 1.76;
      padding-bottom: 20px;
      &__secondary {
        font-size: 14px;
        line-height: 1.76;
        width: 340px;
        height: 100%;
        padding-bottom: 62px;
      }
    }
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 176px;
  height: 44px;
  color: $accent-color;
  font-family: DM Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.29;
  border-radius: 22px;
  text-align: center;
  border: none;
  cursor: pointer;
  &:hover {
    outline: none;
  }
  &__icon {
    width: 8px;
    height: 100%;
    margin-left: 14px;
    margin-top: 2px;
    fill: $accent-color;
  }
  @media screen and (min-width: 768px) {
    font-size: 16px;
    line-height: 1.31;
    height: 44px;
  }
}

.milk {
  width: 100%;
  height: 133px;
  background-image: url(/images/milk_background.png);
  background-repeat: no-repeat;
  background-size: 100% 133px;
  position: absolute;
  bottom: 110px;
  z-index: 1;
  @media screen and (min-width: 768px) {
    display: none;
  }
}
