.advantages {
  background-color: $section-background;
  padding-bottom: 145px;
  &__container {
    background-color: $section-background;
  }
  &__list {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__title.primary-title {
    text-align: left;
    margin-bottom: 15px;
  }
  &__text {
    &::before {
      display: block;
      content: '';
      width: 50px;
      height: 50px;
      margin-bottom: 16px;
    }
  }
  &__inventory {
    font-family: DM Sans, sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 1.67;
  }
  @media screen and (min-width: 768px) {
    padding-bottom: 246px;
    &__list {
      flex-direction: row;
    }
    &__title {
      font-size: 48px;
      line-height: 1.14;
      margin-bottom: 13px;
    }
    &__text {
      &:not(:last-child) {
        margin-right: 60px;
      }
      &::before {
        margin-bottom: 36px;
      }
    }
    &__inventory {
      font-family: DM Sans, sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.7;
      height: 71px;
      width: 180px;
    }
  }
  @media screen and (min-width: 1280px) {
    padding-bottom: 310px;
    &__list {
      flex-direction: row;
    }
    &__title {
      font-size: 48px;
      line-height: 1.14;
      margin-bottom: 13px;
    }
    &__text {
      &:not(:last-child) {
        margin-right: 60px;
      }
      &::before {
        margin-bottom: 36px;
      }
    }
    &__inventory {
      font-family: DM Sans, sans-serif;
      font-weight: 700;
      font-size: 12px;
      line-height: 1.7;
      height: 71px;
      width: 180px;
    }
  }
}

.icon-milkbucket::before {
  background-image: url(../images/milk_bucket.png);
  background-repeat: no-repeat;
}
.icon-applebucket {
  background-image: url(../images/apple_bucket.png);
  background-repeat: no-repeat;
  margin-top: 38px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
.icon-lovemilk {
  background-image: url(../images/love_milk.png);
  background-repeat: no-repeat;
  margin-top: 38px;
  @media screen and (min-width: 768px) {
    margin-top: 0;
  }
}
