.buy-now-modal{
  position: absolute;
  top: 20%;
  left: 40%;
  transform: translate(-20%, -40%);
  width: 500px;
  height: 260px;
  margin: 0 auto;
  border-radius: 15px;
  background-color: #FFB8CA;
  filter: drop-shadow(-8px 0px 20px rgba(0, 0, 0, 0.25));
  &__title{
    text-align: center;
  }
  .input-form{
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    input{
      width: 100%;
      &:focus{
        outline: none;
      }
    }
    .input{
      margin-bottom: 10px;
    }
    [name="list_products"]{
      display: flex;
      flex-direction: column;
      &:focus{
        outline: none;
      }
    }
  }
  .btn--red{
    margin: 5px auto;
  }
}