.contacts {
  background-color: $section-background;

  @media screen and (min-width: 1280px) {
    width: 100%;
    background-image: url(../images/contacts/contact-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
  }
  // desktop 2x
  @media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2),
    screen and (min-width: 1280px) and (-o-min-device-pixel-ratio: 2/1),
    screen and (min-width: 1280px) and (min-resolution: 192dpi),
    screen and (min-width: 1280px) and (min-resolution: 2dppx) {
    background-image: url(../images/contacts/contact-bg@2x.png);
    // background-repeat: no-repeat;
    // background-size: 100%;
    // width: 100%;
  }
}
.contact {
  position: relative;
  font-family: DM Sans, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;

  &__grid {
    position: relative;
    top: -84px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    @media screen and(min-width: 480px) and (min-width: 768px) {
      width: 40%;
      top: -78px;

      flex-direction: row;
      justify-content: space-around;
    }
    @media screen and (min-width: 1280px) {
      top: -102px;
    }
  }
  &_list {
    width: 179px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media screen and (min-width: 480px) {
    }
    @media screen and(min-width: 480px) and (max-width: 768px) {
      width: 157px;
    }
    @media screen and (min-width: 1280px) {
      width: 243px;
    }
  }
  &__hidden {
    display: none;
  }
  &__text {
    color: #ffffff;
    width: 80px;
    text-align: center;
    background: #f0d1a5;
    border-radius: 4px;
    margin-bottom: 25px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.65;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }
  &__text__green {
    color: #ffffff;
    width: 130px;
    text-align: center;
    background: #c2e297;
    border-radius: 4px;
    margin-bottom: 25px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 1.65;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 32px;
    }
  }
  &__item {
    display: flex;
    justify-content: center;
    padding-top: 43px;
    padding-bottom: 43px;
    min-width: 83%;
    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-bottom: 20px;
    margin-right: 0px;

    @media screen and (min-width: 768px) {
      padding-bottom: 61px;
      min-width: 220px;
      margin-right: 20px;
      padding-top: 50px;
      margin-bottom: 0;
    }
    @media screen and (min-width: 1280px) {
      min-width: 330px;
      margin-right: 30px;
      padding-top: 51px;
      padding-bottom: 62px;
    }
  }
  &__item__last {
    display: flex;
    justify-content: center;
    padding-top: 43px;
    padding-bottom: 43px;
    min-width: 83%;
    background-color: #ffffff;
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;
    margin-right: 0px;
    @media screen and (min-width: 768px) {
      min-width: 220px;
      margin-right: 0px;
      padding-top: 50px;
      padding-bottom: 61px;
    }
    @media screen and (min-width: 1280px) {
      min-width: 330px;
      padding-top: 51px;
      padding-bottom: 62px;
    }
  }
  &__title {
    color: #000000;
    margin-bottom: 10px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: 0.04em;
    @media screen and (min-width: 768px) {
      margin-bottom: 14px;
      font-size: 14px;
      line-height: 1.75;
    }
    @media screen and (min-width: 1280px) {
      margin-bottom: 10px;
      font-size: 16px;
    }
  }
  &__subtitle {
    width: 183px;
    padding-bottom: 25px;
    color: #907e82;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    @media screen and(min-width: 480px) and (min-width: 768px) {
      width: 157px;
      padding-bottom: 30px;
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      width: 244px;
      padding-bottom: 32px;
      font-size: 16px;
      line-height: 1.8;
    }
  }
  &__info--item {
    padding-top: 25px;
    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 32px;
    }
  }
  &__info--item--schedule {
    padding-top: 10px;
    @media screen and (min-width: 768px) {
      padding-top: 16px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 15px;
    }
  }
  &__info {
    width: 179px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding-bottom: 25px;
    @media screen and (min-width: 768px) {
      padding-bottom: 30px;
      width: 157px;
    }
    @media screen and (min-width: 1280px) {
      min-width: 234px;
      padding-bottom: 32px;
    }
  }
  &__info--item--today {
    color: #000000;
    font-size: 12px;
    line-height: 1.7;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__info--item--time {
    color: #ffa5ba;
    font-size: 12px;
    line-height: 1.7;
    @media screen and (min-width: 768px) {
      font-size: 14px;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__adress {
    padding-top: 25px;

    @media screen and (min-width: 768px) {
      padding-top: 30px;
    }
    @media screen and (min-width: 1280px) {
      padding-top: 32px;
    }
  }
  &__adress--item {
    color: #907e82;
    font-size: 12px;
    line-height: 1.5;
    @media screen and (min-width: 768px) {
      font-size: 14px;
      line-height: 1.7;
    }
    @media screen and (min-width: 1280px) {
      font-size: 16px;
    }
  }
  &__click {
    position: relative;
    top: -31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media screen and (min-width: 768px) {
      flex-direction: row;
      justify-content: center;
      // top: -3px;
    }
  }
  &__red {
    fill: #ffffff;
    height: 44px;
    padding-left: 13px;
    padding-right: 14px;
    color: white;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    border-radius: 22px;
    border: 1px solid;
    margin-bottom: 10px;
    @media screen and (min-width: 768px) {
      margin-bottom: 0px;
      margin-right: 15px;

      padding-right: 26px;
      padding-left: 27px;
    }
    @media screen and (min-width: 1280px) {
      padding-right: 30px;
      padding-left: 30px;
    }
  }
  &__white {
    fill: $accent-color;
    padding-left: 27px;
    padding-right: 28px;
    height: 44px;
    font-family: DM Sans, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.3;
    align-items: center;
    text-align: center;
    border-radius: 22px;
    border: 1px solid #ffffff;
    @media screen and (min-width: 768px) {
      padding-left: 33px;
      padding-right: 33px;
    }
    @media screen and (min-width: 1280px) {
      padding-left: 36px;
      padding-right: 36px;
    }
  }
}
.icon-right-check {
  margin-left: 8px;
  @media screen and (min-width: 768px) {
    margin-left: 12px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 13px;
  }
}
.icon-right-check--white {
  margin-left: 13px;
  @media screen and (min-width: 768px) {
    margin-left: 15px;
  }
  @media screen and (min-width: 1280px) {
    margin-left: 13px;
  }
}
