.reviews {
  position: relative;
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 86px;

  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;

  &__photo {
    margin: 0 auto;
    margin-bottom: 29px;
    width: 85px;
    height: 85px;
  }

  &--lines {
    position: relative;
    margin: 0 auto;
    width: 64%;

    background: repeating-linear-gradient(
      180deg,
      transparent 0px,
      transparent 29px,
      #e1e1e1 30px
    );
    &::before {
      content: '';
      position: absolute;
      top: -5%;
      left: 1%;
      display: block;
      width: 54px;
      height: 40px;
      background-image: url(../images/svg/icon-q.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__box {
    width: 87.5%;
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 20px;
    background-color: #fafafa;

    &--text {
      position: relative;
      margin: 0 auto;
      width: 87%;
    }

    &--location {
      font-family: DM Sans, sans-serif;
      margin: 0;
      padding: 0;
      margin-top: 18px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
      text-align: center;
      color: #000000;
    }

    &--circle {
      display: block;
      margin: 0 auto;
      position: relative;
      margin-top: 30px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #c7133e;

      &::before {
        content: '';
        position: absolute;
        left: 400%;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #c7133e;
      }
      &::after {
        content: '';
        position: absolute;
        left: -400%;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #c7133e;
      }
    }
  }
}

.test {
  background-color: red;
}
