.reviews {
  position: relative;
  width: 100%;
  min-width: 280px;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 170px;

  font-family: DM Sans, sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.58;
  text-align: center;
  color: #000000;

  &__photo {
    margin: 0 auto;
    margin-bottom: 29px;
    width: 85px;
    height: 85px;
  }

  &--lines {
    position: relative;
    margin: 0 auto;
    width: 64%;

    background: repeating-linear-gradient(
      180deg,
      transparent,
      transparent 28px,
      #e1e1e1 30px
    );
    &::before {
      content: '';
      position: absolute;
      top: -5%;
      left: 1%;
      display: block;
      width: 54px;
      height: 40px;
      background-image: url(../images/svg/icon-quote.svg);
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
    }
  }

  &__box {
    width: 87.5%;
    margin: 0 auto;
    padding-top: 43px;
    padding-bottom: 20px;
    background-color: #fafafa;

    &--text {
      position: relative;
      margin: 0 auto;
      width: 88%;
    }

    &--location {
      font-family: DM Sans, sans-serif;
      margin: 0;
      padding: 0;
      margin-top: 18px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.86;
      text-align: center;
      color: #000000;
    }

    &--circle {
      display: block;
      margin: 0 auto;
      position: relative;
      margin-top: 30px;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      background-color: #c7133e;

      &::before {
        content: '';
        position: absolute;
        left: 400%;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #c7133e;
      }
      &::after {
        content: '';
        position: absolute;
        left: -400%;
        display: block;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: #c7133e;
      }
    }
  }
}

@media screen and (min-width: 479px) {
  .reviews {
    width: 437px;
    height: 479px;
  }
}

@media screen and (min-width: 768px) {
  .reviews {
    width: 100%;
    height: auto;
    padding-top: 121px;
    padding-bottom: 197px;

    font-size: 14px;
    line-height: 2.16;

    &__photo {
      margin-bottom: 19px;
    }

    &--lines {
      width: 84.5%;

      background: repeating-linear-gradient(
        transparent,
        transparent 27px,
        #e1e1e1 29px
      );
      &::before {
        top: -19%;
        left: -3%;
      }
    }

    &__box {
      width: 80.7%;
      padding-top: 47px;
      padding-bottom: 28px;

      &--text {
        width: 88%;
      }

      &--location {
        margin-top: 14px;
        font-size: 16px;
        line-height: 1.82;
      }

      &--circle {
        margin-top: 24px;
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .reviews {
    padding-top: 123px;
    padding-bottom: 234px;

    font-size: 16px;
    line-height: 1.86;

    &__photo {
      margin-bottom: 15px;
    }

    &--lines {
      width: 813px;
      &::before {
        top: -24%;
        left: 0.6%;
      }
    }

    &__box {
      width: 926px;
      padding-top: 47px;
      padding-bottom: 28px;

      &--text {
        width: 750px;
      }

      &--location {
        margin-top: 15px;
        font-size: 20px;
        line-height: 1.86;
      }

      &--circle {
        margin-top: 15px;
      }
    }
  }
}
