.footer {
  background-color: $section-background;
  padding-top: 113px;
  &__title {
    display: flex;
    flex-wrap: wrap;
  }
  &__ice {
    font-family: Titan One, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: left;
    text-transform: uppercase;

    color: $secondary-title-color;
    margin-bottom: 15px;
  }
  &__cream {
    font-family: Titan One;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1.14;
    text-align: left;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: $accent-color;
  }
  &__info {
    margin-bottom: 43px;
    margin-top: 43px;
    text-align: right;
    font-family: DM Sans;
    font-weight: 700;
    font-size: 12px;
  }

  &__post {
    border-top: 1px solid #e1e1e1;
    padding-bottom: 43px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.52;
    padding-top: 22px;

    text-align: center;

    color: #907e82;
  }
  &__icon {
    display: flex;

    justify-content: flex-end;
  }
  &__phone {
    color: $accent-color;
    font-size: 13px;
  }
  &__icon-item:not(:last-child) {
    margin-right: 28px;
  }

  &__page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: $secondary-title-color;
  }
}
hr {
  background: #e5e5e5;
}
hr {
  margin-top: 43px;
  margin-bottom: 22px;
}
