header {
    background-color: #FFB8CA;
  }
  .header {
    overflow: hidden;
    position: relative;
  }
  .header__buy {
    display: none;
  }
  .header__container {
    margin-top: 6px;
  }
  .header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 137px;
  }
  .header__logo {
    width: 200px;
    height: 50px;
  }
  .header__burger {
    position: relative;
    z-index: 1;
    padding: 0px;
    background: transparent;
    border: none;
    margin-left: 0;
  }
  .header__burger__icon {
    border: none;
    color: #D41443;
  }
  .header__info {
    display: none;
  }
  .background__icecreem {
    position: absolute;
    z-index: 1;
    height: 410px;
    width: 171px;
    bottom: 0px;
    right: 25px;
  }
  .background__wooman {
    display: none;
    position: absolute;
    z-index: 1;
    height: 133px;
    width: 168px;
    bottom: 0px;
    right: 34px;
  }
  .background__milk {
    display: none;
    position: absolute;
    z-index: 1;
    height: 126px;
    width: 124px;
    bottom: 28px;
    left: 0px;
  }
  .background__circle {
    z-index: 0;
    top: 92px;
    right: -48px;
    position: absolute;
    overflow: hidden;
    background-color: #FFA5BA;
    width: 346px;
    height: 344px;
    border-radius: 50%;
  }
  .hero {
    padding-bottom: 160px;
  }
  .hero__title {
    z-index: 2;
    position: relative;
    text-align: start;
    color: #FFFFFF;
    font-size: 26px;
    line-height: 1.145;
  }
  .hero__title__redtext {
    line-height: 0.965;
    font-size: 48px;
    color: #D41443;
  }
  .hero__btn {
    text-align: center;
    padding: 7px 14px;
    font-family: DM Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.25;
    z-index: 2;
    position: relative;
    margin-top: 19px;
    border-radius: 20px;
    border: none;
  }
  .hero__btn:not(:last-child) {
    margin-right: 8px;
  }
  .hero__info {
    display: none;
  }
  @media screen and (min-width: 480px) {
    header .container {
      position: relative;
    }
    .header {
      margin: 0 auto;
    }
  }
  @media screen and (min-width: 768px) {
    .header {
      height: 399px;
      margin: 0 auto;
    }
    .header__container {
      margin-top: 0;
    }
    .header__logo {
      margin-right: 291px;
    }
    .header__nav {
      justify-content: start;
      margin-top: 37px;
      margin-bottom: 15px;
    }
    .header__buy {
      display: block;
      margin-left: 30px;
    }
    .header__buy__btn {
      padding: 12px 37px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.31;
      color: #D41443;
      border: none;
      background: #FFFFFF;
      border-radius: 22px;
    }
    .header__buy__btn__icon {
      margin-left: 12px;
      width: 4px;
      height: 8px;
    }
    .background__icecreem {
      width: 143px;
      height: 336px;
      right: 275px;
    }
    .background__wooman {
      display: block;
    }
    .background__milk {
      display: block;
    }
    .background__circle {
      top: 0px;
      left: 207px;
      width: 324px;
      height: 322px;
    }
    .hero {
      padding-bottom: 37px;
      position: relative;
      margin-top: 15px;
    }
    .hero__title {
      font-size: 22px;
    }
    .hero__title__redtext {
      font-size: 34px;
    }
    .hero__info {
      margin-top: 66px;
      margin-left: 120px;
      display: block;
      width: 114px;
      font-family: DM Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 8px;
      line-height: 1.5;
      color: #FFFFFF;
    }
    .hero__info__link {
      border-radius: 50%;
      padding: 5px 7.5px;
      background: white;
    }
    .hero__info__icon {
      margin-top: 13px;
      width: 5px;
      height: 5px;
    }
    .hero__counter {
      position: absolute;
      right: 0;
      top: -10px;
    }
    .hero__counter__items {
      position: relative;
      font-style: normal;
      font-weight: normal;
      padding-right: 8px;
    }
    .hero__counter__red {
      position: relative;
      z-index: 1;
      font-family: Titan One;
      font-size: 28px;
      line-height: 32px;
      text-align: right;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #D41443;
    }
    .hero__counter__primery {
      color: #FFFFFF;
      font-family: DM Sans;
      font-size: 8px;
      line-height: 10px;
      text-align: right;
    }
    .hero__counter__circle {
      top: 0;
      right: 0;
      z-index: 0;
      width: 16px;
      height: 16px;
      position: absolute;
      border-radius: 50%;
      background: #FFFFFF;
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }