.products {
  background: #ffffff;
  padding-top: 121px;
  padding-bottom: 98px;
  @media screen and (min-width: 480px) {
  }

  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
  &__title {
    margin-bottom: 144px;
    @media screen and (min-width: 768px) {
      margin-bottom: 150px;
    }

    @media screen and (min-width: 1200px) {
      padding-top: 127px;
      padding-bottom: 119px;
    }
  }
  &__text {
    font-family: Titan One;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
    margin-bottom: 15px;
  }
  .list {
    // @media screen and (min-width: 480px) {
    // }

    @media screen and (min-width: 768px) {
      display: flex;
      justify-content: space-between;
    }

    @media screen and (min-width: 1200px) {
    }
  }
  .card {
    border-radius: 24px;
    margin-bottom: 130px;
    padding-bottom: 39px;
    position: relative;
    padding-top: 161px;

    @media screen and (min-width: 480px) {
      max-width: 480px;
    }

    @media screen and (min-width: 768px) {
      max-width: 220px;
      margin-bottom: 0;
      padding-top: 152px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 329px;

      margin-bottom: 0;
      padding-top: 163px;
    }
    &:last-child {
      margin-bottom: 0px;
    }

    &__points {
      width: 6px;
      height: 6px;
      display: block;
      position: relative;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 30px;
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        left: -10px;
      }
      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        left: 10px;
      }
    }
    &__title {
      font-family: Titan One;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
    }
    &__text {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 1.5;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      margin-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 30px;
      @media screen and (min-width: 768px) {
        padding-left: 11px;
        padding-right: 11px;
        line-height: 1.76;
        margin-bottom: 40px;
      }
      @media screen and (min-width: 1280px) {
        padding-left: 44px;
        padding-right: 44px;
        line-height: 1.76;
        margin-bottom: 62px;
      }
    }

    &__cream {
      background: #ffb8ca;
      &::before {
        position: absolute;
        content: '';
        width: 249px;
        height: 252px;
        background-image: url(../images/icecream.png);
        top: -113px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
        @media screen and (min-width: 768px) {
          top: -100px;
          width: 220px;
          height: 224px;
          left: calc(50% - 110px);
        }

        @media screen and (min-width: 1280px) {
          top: -200px;
          width: 335px;
          height: 335px;
          left: calc(50% - 164px);
        }
      }
    }
    &__coffee {
      background: #f0d1a5;
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/ice_cofee.png);
        width: 220px;
        height: 224px;
        top: -113px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
        @media screen and (min-width: 768px) {
          top: -100px;
          width: 220px;
          height: 224px;
          left: calc(50% - 110px);
        }

        @media screen and (min-width: 1280px) {
          top: -200px;
          width: 335px;
          height: 335px;
          left: calc(50% - 164px);
        }
      }
    }
    &__milkshakes {
      background: #c2e297;
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/milkshakes.png);
        width: 220px;
        height: 224px;
        top: -113px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
        @media screen and (min-width: 768px) {
          top: -100px;
          width: 220px;
          height: 224px;
          left: calc(50% - 110px);
        }

        @media screen and (min-width: 1280px) {
          top: -200px;
          width: 335px;
          height: 335px;
          left: calc(50% - 164px);
        }
      }
    }
    .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #ffffff;
      margin: 0 auto;
      display: inherit;
      &__icon {
        width: 14px;
        height: 11px;
        margin-left: 0px;
        margin-left: 0px;
        fill: #d41443;
      }
    }
  }
}
