.products {
  background: #ffffff;
  padding-top: 121px;
  padding-bottom: 98px;

  &__text {
    font-family: Titan One;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.16;
    text-align: center;
    text-transform: uppercase;
    color: #ffa5ba;
  }

  // &__title {
  //   margin-bottom: 144px;
  // }

  .card {
    border-radius: 24px;
    margin-bottom: 130px;
    padding-bottom: 41px;
    padding-top: 161px;
    position: relative;
    &:last-child {
      margin-bottom: 0px;
    }

    &__points {
      width: 6px;
      height: 6px;
      display: block;
      position: relative;
      background-color: #ffffff;
      border-radius: 50%;
      margin: 0 auto;
      margin-top: 30px;
      &::before {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        left: -10px;
      }
      &::after {
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        background-color: #ffffff;
        border-radius: 50%;
        left: 10px;
      }
    }
    &__title {
      font-family: Titan One;
      font-weight: normal;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #ffffff;
    }
    &__text {
      font-family: DM Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 14px;
      line-height: 152%;
      text-align: center;
      letter-spacing: 0.04em;
      color: #ffffff;
      margin-top: 30px;
      padding-left: 40px;
      padding-right: 40px;
      margin-bottom: 30px;
    }

    &__cream {
      background: #ffb8ca;
      &::before {
        position: absolute;
        content: '';
        width: 249px;
        height: 252px;
        background-image: url(../images/icecream.png);
        top: -109px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
      }
    }
    &__coffee {
      background: #f0d1a5;
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/ice_cofee.png);
        width: 249px;
        height: 252px;
        top: -109px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
      }
    }
    &__milkshakes {
      background: #c2e297;
      &::before {
        position: absolute;
        content: '';
        background-image: url(../images/milkshakes.png);
        width: 249px;
        height: 252px;
        top: -109px;
        left: calc(50% - 125px);
        background-size: cover;
        margin-bottom: 22px;
      }
    }
    .btn {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: none;
      background-color: #ffffff;
      margin: 0 auto;
      display: inherit;
      &__icon {
        fill: #d41443;
      }
    }
  }
}
